[submodule "home/.config/bash/libs/forgit"]
	path = home/.config/bash/libs/forgit
	url = https://github.com/wfxr/forgit
[submodule "home/.config/bash/libs/fzf-marks"]
	path = home/.config/bash/libs/fzf-marks
	url = https://github.com/urbainvaes/fzf-marks.git
[submodule "home/.config/tmux/plugins/tpm"]
	path = home/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
